body {
  padding: .2%;
}

header {
  letter-spacing: 6px;
  color: white;
  background-color: rgb(255, 85, 0);
  padding: 20px;
  text-align: center;
}

input[type=text],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid rgb(255, 85, 0);
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}


button:hover {
  transition: all 2s ease-out;
  background-color: white;
  color: black;
}

input[type=text],
input[type=password],
input[type=email],
input[type=date] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid rgb(255, 85, 0);
  box-sizing: border-box;
}

.orderForm {
  border-radius: 5px;
  background-color:black;
  color: white;
  padding: 20px;
}

.sub {
  color: #fff;
  background-color: rgb(255, 85, 0);
  border-color: white;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.form-select {
  --bs-form-select-bg-img: url(data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 16 16%27%3e%3cpath fill=%27none%27 stroke=%27%23343a40%27 stroke-linecap=%27round%27 stroke-linejoin=%27round%27 stroke-width=%272%27 d=%27m2 5 6 6 6-6%27/%3e%3c/svg%3e);
  display: block;
  width: 100%;
  padding: 0.375rem 2.25rem 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: var(--bs-body-color);
  appearance: none;
  background-color: var(--bs-body-bg);
  background-image: var(--bs-form-select-bg-img), var(--bs-form-select-bg-icon, none);
  background-repeat: no-repeat;
  background-position: right 0.75rem center;
  background-size: 16px 12px;
  border: var(--bs-border-width) solid var(--bs-border-color);
  border-radius: var(--bs-border-radius);
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid rgb(255, 85, 0);
  box-sizing: border-box;
}
